<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="title">Welcome to BandMan.</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        Please Log In to see your band
                    </p>
                    <button class="btn btn-success" (click)="openLoginModal()">Log in</button>

                </div>
            </div>
        </div>
    </div>
</div>